@import "../../constants/colors";
@import "../../constants/constants";

div.profile-container {
  display: flex;
  width: 50%;
  min-width: fit-content;

  @media (max-width: $mediumWidth) {
    flex-direction: column;
    align-items: center;
  }

  div.left-block {
    margin-right: 20px;
    text-align: center;

    .upload-ing-button {
      display: block;
      width: max-content;
      margin: 20px auto auto auto;
      background: $grayLight;
      padding: 5px;
      border: 2px transparent solid;
      border-radius: 13px;
      color: $textDark;
      cursor: pointer;

      &:hover {
        border-color: $secondary;
      }

      input {
        display: none;
      }
    }

    button.to-challenge {
      margin-top: 20px;
    }

  }

  div.right-block {
    flex-grow: 1;

    div.name {
      display: flex;
      justify-content: space-between;

      i.fa-edit {
        &:hover {
          cursor: pointer;
        }
      }
    }

    @media (max-width: $mediumWidth) {
      margin-top: 20px;
    }

  }


}
