@import "../../constants/colors";
@import "../../constants/constants";

div.profile-container {
  display: flex;
  justify-content: space-evenly;

  @media (max-width: $mediumWidth) {
    flex-direction: column;
    align-items: center;
  }

  div.image-block {

    label {
      display: block;
      width: max-content;
      margin: 20px auto auto auto;
      background: $grayLight;
      padding: 5px;
      border: 2px transparent solid;
      border-radius: 13px;
      color: $textDark;
      cursor: pointer;

      &:hover {
        border-color: $secondary;
      }

      input {
        display: none;
      }
    }

  }

  button {
    display: block;
    margin: 0 auto;
  }


}
