@import "../../constants/colors.scss";

div.page-blank-container {
  background: $surface;
  margin: 20px auto;
  width: 65%;
  min-width: 285px;
  padding: 20px;
  border: 1px $grayLight solid;
  border-radius: 17px;
}
