@import "../../constants/colors";

div.form-container {

  h2 {
    margin: 0;
    text-align: center;
  }

  label {
    display: flex;
    margin: 20px 0;

    span {
      margin: auto auto auto 0;
      color: $grayDark;
    }

    input {
      background: $surface;
      color: $textDark;
      height: 20px;
      padding: 3px 3px 3px 10px;
      border: 1px $black solid;
      border-radius: 0;
      margin-left: 10px;

      &:disabled {
        border: none;
      }
    }
  }

  div.controls {
    display: flex;

    :first-child {
      margin-right: auto;
    }

    button.single-control {
      display: block;
      margin-left: auto;
    }
  }
}
