@import "../../../constants/colors";
@import "../../../constants/constants";

a.header-button-container {
  background: $primary;
  min-width: 100px;
  height: $headerHeight;
  line-height: $headerHeight;
  border: 0;
  margin: 0 10px;
  color: $textLight;
  font-size: 16px;
  text-align: center;

  &.pressed {
    border-bottom: 2px $black solid;
    font-weight: bold;
  }

  &:hover {
    font-weight: bold;
  }
}
