@import "../../../constants/colors";

form.search-header-container {
  display: flex;
  justify-content: space-between;

  div.input-container{
    flex-grow: 1;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    min-width: 0;
    max-width: 900px;
    height: 26px;
    border: 1px $grayDark solid;
    border-radius: 13px;
    padding: 0 10px;

    i {
      height: 20px;
      color: $grayDark;
      margin-right: 10px;
    }

    input{
      min-width: 0;
      height: 16px;
      flex-grow: 1;
      background: $surface;
      border: none;
    }
  }

}
