@import "../../constants/colors";

div.authentication-blank-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  div.form {
    width: min-content;
  }

}
