@import "../../constants/colors.scss";

div.authentication-blank-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  div.form{
    background: $surface;
    min-width: 285px;

    padding: 20px;
    border: 1px $grayLight solid;
    border-radius: 17px;

  }

}
