$background: #ECEFF1;
$surface: #ffffff;
$error: #B00020;

$primary: #344955;
$primaryVariant: #232F34;
$secondary: #f9aa33;
$secondaryVariant: #e99a23;

$black: #000000;
$textDark: #232323;
$textLight: #ffffff;
$grayDark: #7a7a7a;
$grayLight: #eeeeee;
