@import "../../../constants/colors";

div.search-preview-container {
  display: flex;
  background: $surface;
  margin: 20px 0;
  padding: 20px;
  border: 1px $grayLight solid;
  border-radius: 10px;

  div.image {
    margin-right: 20px;

    &:hover {
      cursor: pointer;
    }
  }

  div.info-block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


    span {
      margin-right: auto;

      &:hover {
        cursor: pointer;
      }
    }

    button {
      width: max-content;
    }


    @media (max-width: 600px) {
      flex-direction: column;
      span {
        margin-right: 0;
      }
    }
  }

}
