@import "../../constants/colors";

div.header-container {
  height: 40px;
  background: $primary;
  display: flex;

  img {
    margin: auto auto auto 20px;
  }

  div.buttons-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 20%;
    height: 100%;
    min-width: max-content;
  }

  i {
    font-size: 20px;
    margin: auto 20px auto auto;
    color: $textLight;
  }
}
