@import "../../constants/colors";
@import "../../constants/constants";

div.header-container {
  div.main-row {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $headerHeight;
    background: $primary;
    display: flex;

    img {
      margin: auto auto auto 20px;
    }

    i.fa-bars {
      @media (min-width: $smallWidth) {
        display: none;
      }
    }

    div.buttons-container {
      background: $primary;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      width: 20%;
      min-width: max-content;

      @media (max-width: $smallWidth) {
        display: none;
      }
    }

    i {
      font-size: 20px;
      margin: auto;
      color: $textLight;

      @media (max-width: $smallWidth) {
        margin-right: 10px;
      }
    }

    i.fa-sign-out {
      font-size: 20px;
      margin: auto 20px auto auto;
      color: $textLight;

      @media (max-width: $smallWidth) {
        margin-left: 10px;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  div.moving-bar {
    background: $primary;
    position: fixed;
    top: $headerHeight;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    @media (min-width: $smallWidth) {
      display: none;
    }
  }

  div.displayNone {
    display: none;
  }
}
