@import "../../constants/colors";
@import "../../constants/constants";

div.header-container {
  div.main-row {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $headerHeight;
    background: $primary;
    display: flex;

    img {
      margin: auto auto auto 20px;
    }

    div.buttons-container {
      background: $primary;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      width: 20%;
      min-width: max-content;

      @media (max-width: $smallWidth) {
        display: none;
      }
    }

    i {
      font-size: 20px;
      margin: auto 20px auto auto;
      color: $textLight;

      &:hover {
        cursor: pointer;
      }

      &.fa-sign-out {
        @media (max-width: $smallWidth) {
          margin-left: 10px;
        }
      }

      &.fa-bars {
        @media (min-width: $smallWidth) {
          display: none;
        }
      }
    }
  }

  div.moving-bar {
    z-index: 1;
    background: $primary;
    position: fixed;
    top: $headerHeight;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;

    &.displayNone {
      display: none;
    }

    @media (min-width: $smallWidth) {
      display: none;
    }
  }

  a.header-button-container {
    background: $primary;
    min-width: 100px;
    height: $headerHeight;
    line-height: $headerHeight;
    border: 0;
    margin: 0 10px;
    color: $textLight;
    font-size: 16px;
    text-align: center;

    &.pressed {
      border-bottom: 2px $black solid;
      font-weight: bold;
    }

    &:hover {
      font-weight: bold;
    }
  }
}
