@import "./constants/colors";
@import "./constants/constants";

body {
  background: $background;
}

button {
  background: $secondary;
  min-width: 100px;
  height: 26px;
  border: 2px transparent solid;
  border-radius: 13px;
  color: $textDark;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    background: $secondaryVariant;
    border: 2px $secondaryVariant solid;
  }
}

button.secondary {
  background: $surface;
  border: 2px $secondaryVariant solid;

  &:hover {
    background: $secondary;
  }
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
  outline: none;
}
