@import "../../constants/colors";

div.image-container {
  img {
    object-fit: cover;
    display: block;
    width: inherit;
    height: inherit;
    margin: 0 auto 20px auto;
    border-radius: 10px;

    &.hidden {
      display: none;
    }
  }
}
